pandas
matplotlib
seaborn
scikit-learn
statsmodels
scipy
plotly

langchain
langchain-openai
langchain-community
langchain-text-splitters
faiss-cpu
transformers
torch
langchain-huggingface
sentence-transformers
pytesseract
pillow
diffusers

langchain_community
langchain_huggingface

pdf2image
pytesseract
pypdf
streamlit
langchain_ollama

langchain_experimental #for semantic chunking
fastapi
uvicorn
mcp>=2.0.0
uv
mcp[cli]
datasets
accelerate
peft
